body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../images/fondo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Se ajusta la imagen de fondo para cubrir todo el contenedor */
    background-position: center; /* Centrar la imagen de fondo */
    background-attachment: fixed; /* Fijado de la imagen de fondo para que se mantenga visible al hacer scroll */
    overflow-x: hidden;
}

header {
    text-align: center;
    background-color: beige; /* Color de fondo del header*/
    color: beige;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1000;
    background-image: url('../images/fondo.jpg'); /* Ruta de la imagen de fondo*/
    background-size: cover; /* Ajustar la imagen de fondo para cubrir todo el contenedor*/
    background-position: center; /* Centrar la imagen de fondo*/
    background-attachment: fixed; /* Fijar la imagen de fondo para que se mantenga visible al hacer scroll */
}

header img {
    width: 100px; /* Ancho de la imagen*/
    height: auto; /* Altura automática para mantener la proporción*/
    display: flex;
    background-attachment: center;
}

header h1 {
    background-position: center; /* Se centra la imagen de fondo */
    background-attachment: fixed; /* Se fija la imagen de fondo para que se mantenga visible al hacer scroll */
    margin-top: 10px; /* Margen superior para separar la imagen del título */
}

header div a{
    color: white;
}

.paginas_menus ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    text-align: center;
    table-layout: fixed; /* Añade esta línea para distribuir equitativamente el ancho de las celdas */
}
.paginas_menus li {
    display: table-cell;
    width: 1%; 
}
.paginas_menus a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #f8f8f8;
    margin: 5px;
}

.paginas_menus a:hover {
    background-color: #333;
    color: #fff;
}

main {
    margin-top: 80px; /* Se ajusta el margen superior para evitar que el contenido se solape con el header */
    margin-top: auto;
    text-align: center;
}

footer {
    margin-top: auto;
    width: 100%;
    color: white; /* Color del texto en el footer */
    text-align: center; /* Se centra el contenido del footer */
    padding: 20px;
}

iframe {
    width: 100%;
    max-width: 800px; /* Máximo ancho del mapa */
    border: 2px solid black; /* Añadir borde al mapa */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra alrededor del mapa */
}

.redes-sociales {
    margin-top: 20px;
}

.imagen-portada {
    width: 50%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    max-width: 500px; /* Ancho máximo de la imagen */
    display: block; /* Para que la imagen se muestre como bloque y no en línea */
    margin: 0 auto 20px; /* Margen inferior para separar la imagen del título */
}

/* Media query para pantallas más pequeñas (móviles) */
@media (max-width: 600px){
    .imagen-portada{
        width: 100%;
        max-width: none;
    }
}


#google_translate_element {
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 1000;
}

.goog-te-gadget {
    font-size: 14px; /* Tamaño de fuente */
    border-color: #ccc; /* Color del borde */
    border-radius: 5px; /* Borde redondeado */
}

.goog-te-gadget .goog-te-combo {
    padding: 3px; /* Espacio interno */
    background-color: #fff; /* Color de fondo */
    border-radius: 5px; /* Borde redondeado */
}

.goog-te-gadget img {
    display: none; /* Ocultar la imagen de la bandera */
}

.goog-te-gadget-simple {
    background-color: #fff; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Borde redondeado */
}

.goog-te-gadget-simple .goog-te-menu-value {
    padding: 3px; /* Espacio interno */
    color: #333; /* Color del texto */
}

footer div a {
    color: white; 
}
