/APP_Pc/APP_PcProyecto/target/
/APP_PcProyecto_2.0/nbproject/private/
/APP_PcProyecto_2.0/build/
/APP_PcProyecto_2.0/dist/
/APP_PcProyecto_2.1/nbproject/private/
/APP_PcProyecto_2.1/build/
/APP_PcProyecto_2.1/dist/
/JavaFXApplication2/nbproject/private/
/Prueba/nbproject/private/
