body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

h1 {
    text-align: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plato {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    text-align: center;
}