body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('fondo_crema.jpg');
    overflow-x: hidden;
    
}

h1 {
    text-align: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plato {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.bebidas {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    text-align: center;
    color: #5f5f5f;
}

h3 {
    text-align: center;
}

.menu-navegacion {
    position: fixed;
    top: 50px;
    left: 10px;
    z-index: 100;
}

.menu-navegacion ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-navegacion li {
    display: inline;
    margin-right: 10px;
}

.menu-navegacion a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.menu-navegacion a:hover {
    background-color: #333;
    color: #fff;
}

#google_translate_element {
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 1000;
}

.goog-te-gadget {
    font-size: 14px; /* Tamaño de fuente */
    border-color: #ccc; /* Color del borde */
    border-radius: 5px; /* Borde redondeado */
}

.goog-te-gadget .goog-te-combo {
    padding: 3px; /* Espacio interno */
    background-color: #fff; /* Color de fondo */
    border-radius: 5px; /* Borde redondeado */
}

.goog-te-gadget img {
    display: none; /* Ocultar la imagen de la bandera */
}

.goog-te-gadget-simple {
    background-color: #fff; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Borde redondeado */
}

.goog-te-gadget-simple .goog-te-menu-value {
    padding: 3px; /* Espacio interno */
    color: #333; /* Color del texto */
}


